@media only screen and (max-width: 900px) {
  .desktop-only {
    display: none !important;
  }

  #macbook {
    margin-left: -10%;
    width: 120%;
  }
}

@media only screen and (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }

  #macbook {
    margin-left: -50%;
    width: 200%;
  }
}

html, body, .fullscreen {
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  color: #fafafa;
}

#background-container {
  background: linear-gradient(180deg, #FF5C61, darkblue);
  background-size: 400% 400%;

  -webkit-animation: Fader 10s ease infinite;
  -moz-animation: Fader 10s ease infinite;
  animation: Fader 10s ease infinite;
}

@-webkit-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#content-container {
  width:100%;
  height: 100%;
}

#logo {
  width: 60%;
  margin-left: 20%;
}

.container {
  height: 100%;
}

.send-button {
  padding: 0px 10px 0px 10px;
  /*margin-bottom: -1em;*/
  font-size: 2em !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.send-button-container {
  text-align: center;
}

.material-icons {
  color: white;
}

.active {
  border: none !important;
}
