  <div id='background-container' class='fullscreen' ng-controller='landingCtrl'>
    <div class='container valign-wrapper'>
      <div class='row'>
        <div class='col s8 offset-s2 m6 offset-m3 l4 offset-l4 valign'>
          <!-- <h3>Coming soon.</h3> -->
          <br><br>
          <img src='Macbook.png' class='valign' id='macbook'>
          <img src='bundle_logo.png' class='valign' id='logo'>
          <!-- <a href='fb-messenger://share?link=http://joinbundle.com'><img src='Facebook_Messenger_logo.png' class='valign' id='messenger-button'></a> -->
        </div>
      </div>
    </div>
  </div>
